body{
    background-color: rgb(233, 236, 240);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

h2{
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

header{
    background-color: rgba(63, 77, 77, 0.452);
    padding: 2%;
}

.p_div{
    margin: 2vh 50vh;
    background-color: rgba(215, 224, 231, 0.397);
}